{% load custom_tags %}{% comment %}
List objects grouped by category and sub-category.

Variables:

  items: an iterable of objects to display.
  sub_group_attr: the attribute to group by subcategory.
  sub_group_map: a dict for the subcategory mapping id to object.

TODO: skip the category if it has no entries, or does regroup already
  take care of this?

{% endcomment %}{% regroup items by category_id as main_list %}
{% for group in main_list %}
{% with category=categories|get_item:group.grouper %}
{% if category %}
{% header_with_translation 'header_section.html' category 'name' %}
{% endif %}
{% endwith %}
{% regroup group.list|copy_order_attr:sub_group_attr by order as sub_list %}
{% for sub_group in sub_list %}
{% with sub_category_object=sub_group_map|get_item:sub_group.grouper %}
{% if sub_category_object %}
{% header_with_translation 'header_section_sub.html' sub_category_object 'name' %}
{% endif %}
{% endwith %}
{% list_objects sub_group.list 'name' %}
{% endfor %}
<hr>
{% endfor %}
