{% extends "base/category_list.html" %}
{% block show_category %}

{% with body=object %}

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <b>{{ body.name }}</b>
       <a name="{{ body.id }}" href="#{{ body.id }}">¶</a>
    </div>
  </div>
  {% if office.name_i18n.non_english %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      ({{ office.name_i18n.non_english|join:' | '  }})
    </div>
  </div>
  {% endif %}
  <p>

  {% load custom_tags %}
  {% cond_include body.url 'row_web.html' body %}
  {% load custom_tags %}
  {% info_row 'Seats' body.seat_count %}
  {% cond_include body.election_info 'row_election.html' body %}
  {% info_row 'Notes' body.notes %}

{% endwith %}

{% endblock %}
