{% extends "base/category_list.html" %}

{% load custom_tags %}

{% block show_category %}
{% with office=object %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <b>{{ office.name_i18n.english }}</b>
       <a name="{{ office.id }}" href="#{{ office.id }}">¶</a>
    </div>
  </div>
{% if office.name_i18n.non_english %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      ({{ office.name_i18n.non_english|join:' | '  }})
    </div>
  </div>
{% endif %}
{% url_row 'Web' office.url %}
{% cond_include office.twitter 'partials/row_twitter.html' office %}
{% cond_include office.election_info 'partials/row_elections.html' office %}
<p>
{% endwith %}
{% endblock %}
