{% load custom_tags %}{% comment %}
List objects grouped by category and sub-category.

Variables:

  items: an iterable of objects to display.

TODO: skip the category if it has no entries, or does regroup already
  take care of this?

{% endcomment %}{% regroup items by category_id as main_list %}
{% for group in main_list %}
{% with category=categories|get_item:group.grouper %}
{% if category %}
{% header_with_translation 'header_section.html' category 'name' %}
{% endif %}
{% endwith %}
{% with sub_group=group %}
{% block show_category %}
{% list_objects sub_group.list 'name' %}
{% endblock %}
{% endwith %}
<hr>
{% endfor %}
