<!DOCTYPE html>{% load custom_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SFBED - {% block title_head %}{% current_title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <h1>SF Base Election Data (SFBED)</h1>

      <p>
        This is a sample web site to illustrate using the data from the
        <a href="https://github.com/cjerdonek/sf-base-election-data">SFBED</a>
          open data project.

        The data for this web site comes from a single, static
        <a href="https://github.com/cjerdonek/sf-elected-offices/blob/master/data/sf.json">JSON file</a>
        of structured data about San Francisco elections.
      <p>
        If you notice any issues about the data or have a suggestion,
        please file an issue in the
        <a href="https://github.com/cjerdonek/sf-base-election-data/issues">issue tracker</a>.

      <h3 class="text-center">Site Contents</h3>

      {% page_nav current_page 'index' %}
      {% page_nav current_page 'bodies' %}
      {% page_nav current_page 'phrases' %}
      {% page_nav current_page 'languages' %}

      <h2 class="text-center">{% block content_title %}{% current_title %}{% endblock %}</h2>

      {% block content_intro %}
        <p>
          {% block content_intro_para %}
          {% endblock %}
        <p>
          Current count: {% block current_count_value %}{% endblock %}
      {% endblock %}

      {% block content_body %}
      {% endblock %}

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!-- Latest compiled and minified JavaScript -->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    </div>

  </body>
</html>
