{% extends "base/page.html" %}
{% block title_head -%}Home{%- endblock %}
{% block intro %}
<p>
  This is a sample web site to illustrate using the data from the
  <a href="https://github.com/cjerdonek/sf-base-election-data">SFBED</a>
    open data project.

  The data for the pages on this site come from a single
  <a href="https://github.com/cjerdonek/sf-elected-offices/blob/master/data/sf.json">JSON file</a>
  of structured data about San Francisco elections.

<p>
  If you notice any issues about the data or have a suggestion,
  please file an issue in the
  <a href="https://github.com/cjerdonek/sf-base-election-data/issues">issue tracker</a>.
{% endblock %}
{% block content_title -%}
Site Index
{%- endblock %}
{% block content %}
<ul>
  <li><a href="offices.html">Offices</a>
  <li><a href="bodies.html">Bodies</a>
</ul>
{% endblock %}
