{% extends "base/page.html" %}
{% block title_head %}Languages{% endblock %}
{% block content_title %}
Languages
{% endblock %}

{% block content_intro_para %}
Below are some languages that the Department of Elections prepares
written materials in.
{% endblock %}

{% block current_count_value %}
{{ languages|length }} languages
{% endblock %}

{% block content_body %}
{% load custom_tags %}
{% for lang in languages %}

{% item_header_small 'Foo' %}
{% info_row '&nbsp;' lang.name %}
{% info_row 'Code' lang.code %}
{% info_row 'ID' lang.id %}
<p>

{% endfor %}
{% endblock %}
