{% extends "_base.html" %}
{% block title_head -%}Offices{%- endblock %}
{% block title -%}
San Francisco Offices
{%- endblock %}
{% block intro %}
Below is an incomplete list of offices that can appear on the
ballot in a San Francisco election.
{% endblock %}
{% block current_count_value -%}
{{ office_count }} seats
{%- endblock %}
{% block content %}
{% for category_id in category_ids %}
  {% set category_name_i18n = categories[category_id] %}

  <div class="row text-center">
    <h3>{{ category_name_i18n.english }} <a name="{{ category_id }}" href="#{{ category_id }}">¶</a>
    {% if category_name_i18n.non_english -%}
    <br>
      ({{ category_name_i18n.non_english|join(' | ') }})
    {%- endif %}
    </h3>
  </div>
  <p>

  {% for office in offices_by_category[category_id] -%}

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <b>{{ office.name_i18n.english }}</b>
         <a name="{{ office.id }}" href="#{{ office.id }}">¶</a>
      </div>
    </div>
    {% if office.name_i18n.non_english -%}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        ({{ office.name_i18n.non_english|join(' | ') }})
      </div>
    </div>
    {%- endif %}
    <p>

    {% macro row(should_render, template) -%}
      {% if should_render -%}
        {% include template %}
      {%- endif %}
    {%- endmacro %}

    {{ row(office.url, 'row_web.html') }}
    {{ row(office.twitter, 'row_twitter.html') }}
    {% include 'row_election.html' %}

    <hr>

  {% endfor %}

{% endfor %}

{% endblock %}
