{% extends "base/page.html" %}
{% block title_head %}Translations{% endblock %}
{% block content_title %}
Translations
{% endblock %}

{% block content_intro_para %}
Below is the list of phrases in the JSON file that have one or more
translations.
{% endblock %}

{% block current_count_value %}
{{ translations|length }} phrases
{% endblock %}

{% block content_body %}
{% load custom_tags %}
{% for translation in translations.values|dictsort:"en" %}

  {% header_item translation 'en' text.id %}
  {% for lang_code in non_english_codes %}
    {% with lang=language_map|get_item:lang_code %}
      {% info_row lang.name translation|get_item:lang_code %}
    {% endwith %}
  {% endfor %}
  {% info_row 'ID' translation.id %}

{% endfor %}
{% endblock %}
